.mision-vision-container{
    display: flex;
    background-color: white;
    color: black;
    height: 90vh;
    padding: 10px 0 10px 0;
    width: 100%;
    
}
.mision-vision-desc{
    /* padding-top: 30px; */
    margin-top: 250px; 
    margin-bottom: 300px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    padding: 0 100px 0 100px;
}
.mision-vision-desc > h4{
    padding-top: 10px;
    line-height: 1.5;
    text-align: center;
    font-size: 22px;
    
}
.mision-vision-desc > h3{
    font-size: 34px;
    margin-top: 30px;
}
#first_title{
    margin-top: 30px;
}


.mision-vision-desc > p{
    line-height: 1.5;
    text-align: justify;
    font-size: 20px;
    margin-top: 5px;
}

.mision-vision-img{
    width: 47%;
    height: 86vh;
    display:flex;
    overflow: hidden;
    margin-left: 100px;
    }

@media screen and (max-width:960px){
    .mision-vision-container{
      /* padding-top: 20px; */
      flex-direction: column;
      padding: 0;
      width: 100%;
      height: auto;
      align-items: center;
      padding: 0 0 20px 0;
      /* padding-bottom: 20px; */
      
    }
  
    .mision-vision-desc{
      width: 90%;
      margin:0 auto;
      padding: 30px 20px 50px 20px;
    }
    .mision-vision-desc > p{
        font-size: 20px;
    }

    .mision-vision-desc >h4{
        font-size: 18px;
    }
    .titles{
        font-size: 20px;
        text-align: center;
        padding-top: 20px;
    }
    
    .mision-vision-desc > h3{
        font-size: 34px;
        margin-top: 0;
    }
    .first_title{
        margin-top: 0;
    }
    #fin{
        margin-top: 0;
    }
    .mision-vision-img{
        width: 100%;
        margin-bottom: 50px;
        padding: 0;
        margin-left: 0;
        /* padding: 40px 0 50px 0; */
    }
   
    .mision-vision-img > img{
        width: 100%;
        height: 500px;
    }
  
  }
@media screen and (max-width:1024px) and (min-width:961px) {
    .mision-vision-container{
      display: flex;
      padding: 0;
      height: 90vh;
      align-items: center;
      margin: 0;
      width: 100%;
    }
  
    .mision-vision-desc{
      width: 55%;
      margin:0 auto;
      
      padding: 20px 60px 0 50px;
    }
    
    .mision-vision-desc > h3{
        font-size: 24px;
        text-align: center;
    }
    .mision-vision-desc > p{
        font-size: 18px;
        text-align: justify;
    }

    
    .mision-vision-img{
        width: 60%;
        height: 90vh;
        padding:0;
        margin: 0;
        
    }
   
    .mision-vision-img > img{
        width: 100%;
        height: 90vh;        
    }
    #first_title{
        margin-top: 30px;
    }
    #fin{
        margin-top: 7px;
        padding: 0;
    }
}
